body {
    background-color: #99ff99;
    color: #ff9999;
}
h1 {
    color: black;
    text-align: center;
    font-size: 30px;
    font-family: monospace;
}
h5 {
    color: black;
    background-color: chocolate;
    text-align: center;
    font-size: 25px;
    border-radius: 300px;
}
ul {
    color: crimson;
    padding-left: 50px;
    font-size: 20px;
    font-family: monospace;
}
p {
    color: crimson;
    padding-left: 50px;
    font-family: monospace;
    font-size: 20px;
    
}
a {
    text-decoration: none;
    color: crimson;
    background-color: gold;
    border-radius: 10px;
    padding: 4px;
}
img {
    border-radius: 30px;
}
div {
    color:blue;
    font-family: monospace;
}
